<!-- <app-content-header [title]="'Dashboard'"></app-content-header> -->
<section class="content">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <app-small-box
        [title]="'ATM\'s Count'"
        [color]="'bg-aqua'"
        [icon]="'fa fa-credit-card'"
        [value]="atmData == null ? 0 : atmData.data.length"
      >
      </app-small-box>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <app-small-box
        [title]="'ATM Managers'"
        [color]="'bg-red'"
        [icon]="'fa fa-user'"
        [value]="managerData == null ? 0 : managerData.data.length"
      >
      </app-small-box>
    </div>
  </div>

  <div class="row">
    <app-myatms [showHeader]="false"></app-myatms>
  </div>
</section>
