<!-- <app-content-header [title]="'Dashboard'"></app-content-header> -->
<section class="content">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-xs-12">
      <app-small-box
        [title]="'ATM\'s'"
        [color]="'bg-aqua'"
        [icon]="'fa fa-credit-card'"
        [value]="(atmSub | async)?.meta.total || 0"
      >
      </app-small-box>
    </div>

    <div class="col-xs-4 col-sm-4 col-xs-12">
      <app-small-box
        [title]="'Branches'"
        [color]="'bg-red'"
        [icon]="'fa fa-sitemap'"
        [value]="(branchSub | async)?.meta.total || 0"
      >
      </app-small-box>
    </div>

    <div class="col-xs-4 col-sm-4 col-xs-12">
      <app-small-box
        [title]="'Managers'"
        [color]="'bg-green'"
        [icon]="'fa fa-users'"
        [value]="(managerSub | async)?.meta.total || 0"
      >
      </app-small-box>
    </div>
  </div>

  <div class="row">
    <app-myatms [showHeader]="false"></app-myatms>
  </div>
</section>
