<div class="row">
  <div
    *ngIf="(packagesSub | async) as packages; else loading"
    [class.loading]="(packagesSub | async)?.length == 0"
  >
    <div class="col-xs-4" *ngFor="let pack of packages">
      <app-package
        [title]="pack.nickname"
        [desc]="pack.metadata.desc"
        [price]="pack.amount"
        [period]="pack.interval"
        (clickEvent)="click(pack)"
      ></app-package>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading">
      <div class="overlay">
        <i class="fa fa-circle-o-notch fa-spin" style="color: #0d6aad"></i>
      </div>
    </div>
  </ng-template>
</div>
