<div class="col-xs-9">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Compose New Message</h3>
    </div>

    <div class="box-body">
      <div class="form-group">
        <input class="form-control" placeholder="To:" />
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Subject:" />
      </div>
      <iframe
        class="wysihtml5-sandbox"
        security="restricted"
        allowtransparency="true"
        frameborder="0"
        width="0"
        height="0"
        marginwidth="0"
        marginheight="0"
        style="display: block; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(210, 214, 222); border-style: solid; border-width: 1px; clear: none; float: none; margin: 0px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 6px 12px; position: static; top: auto; left: auto; right: auto; bottom: auto; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 100%; height: 300px;"
      ></iframe>
    </div>
  </div>
</div>
