<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-body">
        <div class="col-xs-4 text-left">
          <h4><i class="fa fa-users"></i> &nbsp; Youths</h4>
        </div>
        <div class="col-xs-8 text-right">
          <div class="btn-group">
            <a href="#" class="btn btn-success">Export as PDF</a>
            <a href="#" class="btn btn-success">Export as CSV</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box border-top-solid">
    <!-- /.box-header -->
    <div class="box-body table-responsive"></div>
  </div>
</section>
