<ul class="pagination pagination-sm no-margin pull-right">
  <li (click)="clickEvent(currentNumber - 1 <= 0 ? 1 : currentNumber - 1)">
    <a style="cursor: pointer;">
      «
    </a>
  </li>
  <li
    [class.active]="currentNumber === item + 1"
    *ngFor="let item of elements"
    (click)="clickEvent(item + 1)"
  >
    <a style="cursor: pointer;">
      {{ item + 1 }}
    </a>
  </li>

  <li
    (click)="
      clickEvent(currentNumber + 1 <= last ? currentNumber + 1 : currentNumber)
    "
  >
    <a style="cursor: pointer;"> »</a>
  </li>
</ul>
